h2{
  color: rgb(54, 54, 54);
}
input[type="text"] {
  width: 100%;
  padding: 10px;
  height: 100%;
  font-size: 1.1rem;
  color: rgb(54, 54, 54);
  outline: none;
  /* border: none; */
  border: 2px solid rgb(0, 136, 255);

}

.add__btn{
  width: 200px;
  padding: 10px;
  height: 100%;
  font-size: 1.1rem;
  background-color: rgb(0, 136, 255);
  color: white;
  font-weight: 600;
  /* border: none; */
  border: 2px solid rgb(0, 136, 255);

}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.header{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;  
  background-color: rgb(0, 136, 255);
  align-items: center;
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background-color: rgb(246, 245, 245);
  padding: 10px 128px;
}

.input__container{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(54, 54, 54);
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border-left: 4px solid rgb(0, 136, 255);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  gap: 10px;
}

.task__btn{
  margin-right: 20px;
  width: 100px;
  display: flex;
  justify-content: end;
  gap: 30px;
}

.deleteBtn{
  color: rgb(195, 41, 41);
}

.editBtn{
  color: rgb(0, 136, 255);
}

.completeBtn{
  color: rgb(30, 109, 30);
}

.edit__input{
  border: 1px solid rgb(54, 54, 54);
}

i, button{
  cursor: pointer;
}

.task__text{
  display: flex;
  align-items: center;
  gap: 15px;
}

/* style for mobile screen */
@media screen and (max-width: 480px) {
  .header{
    height: 6vh;
  }

  .container{
    padding: 10px;
  }
}

/* style for tab screen */
@media screen and (max-width: 840px) {
  .header{
    height: 6vh;
  }

  .container{
    padding: 20px 32px;
  }
}